@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

@theme {
  --color-primary: #1d49a7;
  --color-secondary: #e9cc56;
  --color-gray: #e5e5e5;
}

.space-1 {
  @apply has-[.no-before]:before:hidden before:content-[''] before:w-[5px] before:inline-block before:h-[2px] before:align-middle before:mr-[7px] hover:text-[#cdddf0] transition duration-300;
}

.bg-dot {
  @apply first:bg-none pt-[4px] pr-[10px] pb-[5px] pl-[4px] bg-[url('../images/icon-dotted.png')] bg-no-repeat bg-[left_center];
}

.bg-arrow {
  @apply bg-primary/90 before:block before:content-[''] before:left-1/2 before:-translate-x-1/2 before:top-[-4px] before:absolute before:w-[8px] before:h-[4px] before:bg-[url('../images/icon-arrow-menu-purple.png')] bg-no-repeat bg-[left_center];
}

.no-before {
 @apply before:hidden
}

.wrapper {
  @apply md:max-w-[1170px] md:w-[calc(100%-60px)] md:p-0 mx-auto px-4
}