extends ./layouts/default.pug
block vars
  - var titlePage = 'Top page'
  - var path = ''
  - var page = 'top'
  - var imgPC = path + 'assets/img/top/'
  - var imgSP = path + 'assets/img/top/sp/'
  - var imgCommonPC = path + 'assets/img/common/'
  - var imgCommonSP = path + 'assets/img/common/sp/'

block content
  
