extends ./layouts/default.pug
block vars
  - var titlePage = 'Top page'
  - var path = '.'
  - var page = 'top'
  - var imgPC = path + '/images/top/'
  - var imgSP = path + '/images/top/sp/'
  - var imgCommonPC = path + '/images/common/'
  - var imgCommonSP = path + '/images/common/sp/'

block content
  
